.note-editor {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  align-items: stretch;
  justify-content: flex-start;

  width: 100%;
  height: 100%;

  padding: 5px;
}

.note-editor-block-styles,
.note-editor-inline-styles {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;

  order: 0;
  flex: 0 1 auto;
  align-self: auto;

  padding: 3px 0;
}


.DraftEditor-root {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
}

.note-editor-style-button {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;

  margin: 0 3px;
}

.note-editor-style-button-active {
  color: red;
}
