.note-editor {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  align-items: stretch;
  justify-content: flex-start;

  flex: 1 1 auto;
  padding: 5px;
}

.note-editor-block-styles,
.note-editor-inline-styles {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;

  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.note-editor-block-styles {
  padding-top: 5px;
}

.note-editor-inline-styles {
  padding-bottom: 5px;
  border-bottom: 1px solid #999;
}

.DraftEditor-root {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  margin-top: 10px;
}

.note-editor-style-button {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;

  border: 0;
  margin: 0 3px;
  color: #999;
  background: transparent;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  outline: none;
}

.note-editor-style-button-active {
  color: #5890ff;
}
