{
  "presets": [
    "@babel/preset-flow",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current",
          "browsers": "last 2 Chrome versions",
        }
      },
    ],
    "@babel/preset-react",
  ],
  "plugins": []
}
